.login-container {
  height: 100svh;
  display: grid;
  grid-template-columns: 1fr auto;
}

.login-left {
  background-color: rgb(184, 184, 184);
  color: fff;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}

.login-right {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(184, 184, 184);
  border-left: 1px solid white;
}

.login-right-card {
  background-color: rgb(184, 184, 184);
  padding: 1rem;
}

.login-right-card input {
  width: 100%;
  height: 2rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.login-button {
  margin-top: auto;
  background-color: #111;
  color: #fff;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 6.7rem;
  margin-top: 2rem;
  margin-bottom: 1rem;

  &:hover {
    opacity: 50%;
  }
}

.bottom-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.register-link {
  color: blue;
  text-decoration: underline;
}
